@import "common/fonts";
@import "common/vars";
@import "common/animations";

#__backtick__ {
  background: transparent !important;
}

// Can't seem to style another shadow DOM inside
// another shadow DOM's CSS, so let's do it from here.
input._bt-console::-webkit-input-placeholder {
  font-style: italic;
  color: mix($foreground-color, $background-color);
}
