@import "common/vars";
@import "common/mixins";
@import "common/fonts";

#__backtick__ {
  background: transparent !important;
}

.console-container {
  display: block;
  position: fixed;
  z-index: 2147483647;

  left: 20px;
  top: 20px;

  width: 400px;

  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: $foreground-color;

  * {
    box-sizing: border-box;
  }
}

@import "elements/console";
@import "elements/results";