#__backtick__ * {
  animation: initial;
  -webkit-animation: initial;
  backface-visibility: initial;
  -webkit-backface-visibility: initial;
  background: initial;
  border: initial;
  border-radius: initial;
  -webkit-border-radius: initial;
  bottom: initial;
  box-shadow: initial;
  -webkit-box-shadow: initial;
  box-sizing: initial;
  -webkit-box-sizing: initial;
  clear: initial;
  color: inherit;
  content: initial;
  cursor: initial;
  direction: initial;
  display: initial;
  float: initial;
  font: initial;
  font-family: inherit;
  font-size: inherit;
  height: initial;
  left: initial;
  letter-spacing: initial;
  line-height: initial;
  margin: initial;
  max-height: initial;
  max-width: initial;
  min-height: initial;
  min-width: initial;
  opacity: initial;
  outline: initial;
  overflow: initial;
  padding: initial;
  perspective: initial;
  -webkit-perspective: initial;
  position: initial;
  right: initial;
  text-align: inherit;
  text-decoration: initial;
  text-indent: initial;
  text-shadow: initial;
  -webkit-text-shadow: initial;
  top: initial;
  transform: initial;
  -webkit-transform: initial;
  transition: initial;
  -webkit-transition: initial;
  vertical-align: initial;
  visibility: initial;
  width: initial;
  word-spacing: initial;
  z-index: initial;
}