$dark-background: #002b36;
$dark-background-highlight: #073642;
$dark-foreground-subtle: #586e75;
$dark-foreground: #839496;
$dark-foreground-highlight: #93a1a1;

$light-background: #fdf6e3;
$light-background-highlight: #eee8d5;
$light-foreground-subtle: #93a1a1;
$light-foreground: #657b83;
$light-foreground-highlight: #586e75;

$accent-color-light: #1ddbb5;
$accent-color-dark: #19bd9d;

$fonts: "Lato", sans-serif;