@import "common/vars";
@import "common/mixins";
@import "common/animations";

#console {
  display: block;
  width: 100%;
  height: 50px;
  padding: 5px 10px;

  background-color: $background-color;

  opacity: 0;

  &.in {
    -webkit-animation: _bt-console-in 0.3s both;
  }

  &.out {
    -webkit-animation: _bt-console-out 0.3s both;
  }

  button.settings {
    position: relative;
    display: inline-block;
    vertical-align: top;

    width: 40px;
    height: 40px;
    margin-right: 5px;

    background-image: inline-image("icon.png");

    background-color: inherit;
    background-size: 100%;
    background-repeat: no-repeat;

    border: none;
    opacity: 0.8;

    cursor: pointer;
    transition: opacity 0.25s;

    &:after {
      display: block;
      content: "";
      position: absolute;

      left: 0;
      top: 0;

      width: 100%;
      height: 100%;

      background-color: inherit;

      background-image: inline-image("icon-highlight.png");

      background-size: 100%;
      background-repeat: none;
      opacity: 0;

      transition: opacity 0.25s;
    }

    &:hover {
      opacity: 1;
      &:after {
        opacity: 1;
      }
    }

    &:active {
      top: 1px;
    }

    &:focus {
      outline: none;
    }
  }

  .spinner {
    display: none;
    position: absolute;
    top: 5px;
    left: 15px;
    width: 30px;
    height: 40px;

    opacity: 0.8;

    background-image: inline-image("spinner.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
  }

  &.loading {
    .spinner {
      display: block;
      -webkit-animation: _bt-fade-in 0.5s 0.25s both,
                         _bt-spinner 0.5s infinite linear both;
    }

    button.settings {
      opacity: 0;
      pointer-events: none;
    }
  }

  input {
    display: inline-block;
    width: 330px;
    height: 100%;

    background: transparent;
    border: none;

    font-family: $fonts;
    font-size: 16px;
    line-height: 18px;

    color: $foreground-color !important;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      font-style: italic !important;
      color: mix($foreground-color, $background-color, 50%) !important;
    }
  }
}
