@import "common/fonts";
@import "common/vars";

.options-page {
  color: $foreground-color;
  background-color: $background-color;

  font-family: "Lato", sans-serif;
  font-size: 16px;
  text-align: center;

  * {
    box-sizing: border-box;
  }

  h1, h2 {
    font-weight: 300;
  }

  a, a:visited {
    color: $accent-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .button, a.button {
    -webkit-appearance: none;
    border: none;
    outline: none;
    box-shadow: none;

    padding: 15px 20px;

    font-size: 16px;
    background-color: fade_out($accent-color, 0.1);
    color: white;

    cursor: pointer;
    transition: background-color 0.15s;

    text-decoration: none;

    &:hover {
      background-color: $accent-color;
      text-decoration: none;
    }

    &:active {
      position: relative;
      top: 1px;
    }
  }

  input[type=text] {
    font-family: "Lato", sans-serif;

    background-color: $background-color;
    color: $foreground-color;

    border: none;
    outline: none;
    box-shadow: none;
  }

  .container {
    width: 520px;
    margin: 0 auto;
  }

  .section {
    width: 100%;
    background: rgba(0,0,0,0.1);
    padding: 20px 30px;
    margin: 20px auto;

    h2 {
      margin-top: 0;
    }

    small, p {
      opacity: 0.7;
    }
  }

  .hotkey-container {
    label {
      vertical-align: middle;
      font-size: 26px;
      font-weight: 300;
      opacity: 0.8;
    }

    input {
      width: 70px;
      height: 70px;
      padding: 10px;
      margin-left: 20px;
      vertical-align: middle;

      font-size: 30px;
      text-align: center;
      font-weight: bold;
    }

    small {
      display: block;
      margin-top: 20px;
      font-size: 14px;
      text-align: left;
      line-height: 1.6em;
    }
  }

  .commands-container {
    input[type=text] {
      width: 370px;
      font-size: 16px;
      padding: 15px 18px;

      &::-webkit-input-placeholder {
        color: mix($foreground-color, $background-color, 30%) !important;
      }
    }

    input[type=submit] {
      margin-left: 10px;
      width: 80px;
      padding-left: 0;
      padding-right: 0;
    }

    .learn {
      font-size: 14px;
      opacity: 0.7;
      margin-top: 5px;
      margin-left: 5px;
    }

    ul {
      padding-left: 0;
      margin-bottom: 10px;
      max-height: 290px;
      overflow: auto;
    }

    .command {
      position: relative;
      text-align: left;
      margin-bottom: 5px;
      padding: 10px;

      transition: background-color 0.15s;

      small {
        opacity: 0.5;
        margin-left: 3px;
      }

      .remove {
        display: block;
        position: absolute;
        right: 10px;
        top: 5px;

        font-size: 14px;
        color: $accent-color;
        cursor: pointer;
        opacity: 0;

        transition: opacity 0.15s;

        &:hover {
          text-decoration: underline;
        }
      }

      &:hover {
        background-color: rgba(255,255,255,0.05);

        .remove {
          opacity: 0.7;
        }
      }
    }
  }

  .license {
    display: none;

    p {
      line-height: 1.4em;
      font-size: 15px;
    }

    .unlicensed {
      display: none;
      padding-bottom: 20px;

      p {
       padding-bottom: 20px;
     }
    }

    .licensed {
      display: none;
    }

    &.active, &.inactive {
      display: block;
    }

    &.active {
      background: mix($accent-color, rgba(0,0,0,0.1), 60%);

      .licensed {
        display: block;
      }
    }

    &.inactive {
      .unlicensed {
        display: block;
      }
    }
  }

  .credits small {
    font-size: 14px;
  }

  .spinner {
    position: fixed;
    bottom: 5px;
    right: 15px;
    width: 30px;
    height: 40px;

    opacity: 0;

    background-image: inline-image("spinner.png");
    background-repeat: repeat-x;
    background-size: auto 100%;

    transition: opacity 0.5s;
    -webkit-animation: _bt-spinner 0.5s infinite linear both;
  }

  &.loading .spinner {
    opacity: 0.5;
    transition: opacity 0.5s 0.2s;
  }
}