@import "common/vars";
@import "common/mixins";

#_bt-results {
  width: 100%;
  display: block;

  background-color: $background-color;

  ul {
    display: block;
    padding: 0;
    padding-bottom: 10px;
  }

  ._bt-command {
    display: block;
    padding: 6px 10px;

    transition: background-color 0.15s;
    &._bt-active {
      background-color: rgba(255,255,255,0.05);
    }
  }

  ._bt-icon {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    width: 30px;
    margin-top: 4px;
    border-radius: 3px;
    margin-left: 5px;

    background-size: 100%;
    background-repeat: no-repeat;
  }

  ._bt-body {
    display: inline-block;
    margin-left: 10px;
    width: 325px;

    * { cursor: default; }

    ._bt-name {
      display: block;

      ._bt-match {
        font-weight: bold;
        color: $accent-color;
      }
    }

    ._bt-description {
      opacity: 0.8;
      font-size: 14px;
      font-style: italic;
    }

    ._bt-link {
      display: block;
      font-size: 12px;
      margin-top: 3px;
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}