#__backtick__results {
  width: 100%;
  display: block;

  @include theme-background-color();

  ul {
    display: block;
    padding: 0.5em 1em;
  }

  li {
    display: block;
    padding: 0.5em 0;

    .match {
      font-weight: bold;
      color: $accent-color-dark;
      @include light { color: $accent-color-light; }
    }
  }
}