{{#if cssPath}}
<style>
  @import "{{cssPath}}";
</style>
{{/if}}
<div class="console-container">
  <div id="console"></div>
  <div id="results" class="custom-scrollbar"></div>
</div>
<div id="settings"></div>